---
# Capsule package name
sat_package_name: 'satellite-capsule'

# Installer scenario -- must be 'capsule'
satellite_installer_scenario: 'capsule'

# Installer verbosity
satellite_installer_verbose: true

# Disable colors in installer output
satellite_installer_no_colors: true

# Installer locale
satellite_installer_locale: 'en_US.UTF-8'

# Installer binary (satellite-installer handles both scenarios)
satellite_installer_package: 'satellite-installer'

# Installer timeout in seconds
satellite_installer_timeout: '3600'

# --------------------------------------------------------------------------
# Installer options
# --------------------------------------------------------------------------
# The certs-tar-file option is set automatically by the playbook after
# the certificate archive is deployed to /root/.
satellite_installer_options:
  - '--no-enable-puppet'
  - '--foreman-proxy-puppet false'
  - '--foreman-proxy-puppetca false'
  - '--foreman-proxy-register-in-foreman true'
  - '--foreman-proxy-foreman-base-url https://lab-satellite-6.crazy.lab'
  - '--foreman-proxy-trusted-hosts lab-satellite-6.crazy.lab'
  - '--foreman-proxy-trusted-hosts {{ inventory_hostname }}'
  - '--foreman-proxy-oauth-consumer-key {{ capsule_oauth_consumer_key }}'
  - '--foreman-proxy-oauth-consumer-secret {{ capsule_oauth_consumer_secret }}'
  - '--certs-server-cert {{ sat_cert_dest_path }}/{{ sat_certs_pub_key | basename }}'
  - '--certs-server-key {{ sat_cert_dest_path }}/{{ sat_certs_priv_key | basename }}'
  - '--certs-server-ca-cert {{ sat_cert_dest_path }}/{{ sat_certs_ca_bundle | basename }}'
  - '--foreman-proxy-foreman-ssl-ca {{ sat_cert_dest_path }}/{{ sat_certs_ca_bundle | basename }}'
  # DHCP for deploy.crazy.lab 172.16.80.0/24
  - '--foreman-proxy-dhcp true'
  - '--foreman-proxy-dhcp-managed true'
  - '--foreman-proxy-dhcp-interface eth0'
  - '--foreman-proxy-dhcp-gateway 172.16.80.254'
  - '--foreman-proxy-dhcp-nameservers 172.16.80.2'
  - '--foreman-proxy-dhcp-range "172.16.80.100 172.16.80.200"'
  - '--foreman-proxy-dhcp-network 172.16.80.0'
  - '--foreman-proxy-dhcp-netmask 255.255.255.0'
  # DNS for deploy.crazy.lab
  - '--foreman-proxy-dns true'
  - '--foreman-proxy-dns-managed true'
  - '--foreman-proxy-dns-zone deploy.crazy.lab'
  - '--foreman-proxy-dns-reverse 80.16.172.in-addr.arpa'
  - '--foreman-proxy-dns-interface eth0'
  - '--foreman-proxy-dns-forwarders 172.16.80.1'
  # TFTP and HTTPBoot
  - '--foreman-proxy-tftp true'
  - '--foreman-proxy-tftp-servername {{ inventory_hostname }}'
  - '--foreman-proxy-httpboot true'
  - '--foreman-proxy-http true'
  - '--foreman-proxy-templates true'
  - '--enable-foreman-proxy-plugin-remote-execution-script'
